.results {
    margin-top: $spacer * 3.5;

    h2 {
        @extend .h1;
        margin-bottom: $spacer * 1.5;
    }

    .card {
        margin-bottom: $spacer * 2.5;
        position: relative;

        &:last-child {
            margin-bottom: 0;

            &:after {
                content: none;
            }
        }

        .badges {
            .badge {
                margin-right: $spacer * 0.5;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .result-header {
            display: flex;
            margin-bottom: $spacer * 1.666;
            flex-direction: column;

            @include media-breakpoint-up(sm) {
                flex-direction: row;
                align-items: center;
            }

            h3 {
                color: $body-color;
                margin-right: $spacer * 0.5;
                margin-bottom: 0;
            }
        }

        .result-body {
            p,
            .buttons {
                margin-top: $spacer * 1.666;
                max-width: 80%;

                > * {
                    margin-bottom: $spacer * 0.5;
                }
            }

            p {
                font-size: $font-size-sm;

                @include media-breakpoint-up(sm) {
                    font-size: $font-size-base;
                }

                @include media-breakpoint-up(md) {
                    padding-right: $spacer * 4;
                }
            }
        }

        .result-logo {
            position: absolute;
            right: 0;
            top: 0;
            width: 20%;
            height: 100%;
            display: flex;
            justify-items: center;
            align-items: center;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                overflow: hidden;
                max-width: 200px;
                max-height: 150px;
            }
        }
    }
}
