<!-- This web.config tells the Azure App Service webserver to rewrite all incoming requests to index.html in order to be able to use Browsers History API within vue.js router -->
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webserver>
        <rewrite>
            <rules>
                <rule name="SPA Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webserver>
</configuration>